@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model BankingApp.Pages.Account.AccountModel

@{
    ViewData["Title"] = "Account";
}
<style>
    .linkto:active, .linkto:hover{
        -webkit-text-stroke:thin!important;
        -webkit-text-stroke-color:cornflowerblue!important;
        -webkit-text-size-adjust:!important;
    }
    .hidden {
        display: @Model.hidden!important;
    }
</style>

    <div class="container shadow-lg border rounded-3">
        <div class="container mx-auto mt-2 w-100">
            <h1 class="text-center my-4">Welcome @Model._User.Username</h1>
            <div class="row container mx-auto w-100 ">
                @foreach (var item in Model._Account)
                {
                    <div class="col-md-3 m-4 p-4 border rounded-2 shadow-lg mx-auto" title="View Transactions" id="@item.ID" >
                        <div class="h3 fw-bold mb-2  linkto  text-center" :hover Onclick="onelclick(@item.ID)" style="cursor: pointer" >@item.Type  </div>
                            <hr/>
                            <div class="col-sm-2 w-100 fw-bold text-center">
                                AccountNumber:
                            </div>
                             <div class="col-sm-2 w-100 text-center" value="@item.ID">
                                @item.ID.ToString()
                            </div>
                            <div class="col-sm-2 w-100 fw-bold text-center">
                                Balance:
                            </div>
                            <div class="col-sm-2 w-100 text-center">
                                @item.BalanceToString()
                            </div>
                        <div class="col-sm-2 w-100 text-center">
                            <button class="btn btn-success mt-4 mx-auto justify-content-center" id="#AddFunds" type="button">Add Funds</button> @*add funds button*@
                        </div>
                    </div>
                }@*End Foreach*@
            </div>
            <div class="container w-100 text-center">
                <button class= "btn btn-primary m-4 hidden" id="newacnt"   @*asp-page="/Account/Home" asp-page-handler="AddNewAccount"*@ > Add new Account</button>
                @Html.AntiForgeryToken() @*Added anti-forgery token for ajax call*@

                <button class="btn btn-primary m-4" value=""  id="transfer" >Transfer Funds </button>
            </div>
        </div>
    </div>

@section scripts
{ 
    <script src='~/lib/limonte-sweetalert2/sweetalert2.all.min.js'></script>
    <script src="~/js/Home.js"></script>
    <script>
        const TransferInputOptions =  JSON.parse('@Html.Raw(Json.Serialize(@Model._Account.Select( x=>x.Type)))'); 

        onelclick = (id) => {
            Swal.fire({
                $(document).ready(function() {
                    $(`${id}`).DataTable();
                });
            })
        }

    </script>


}
    

  
